@model GestionStock.Models.Models.FournisseurModel;

@{
    ViewData["Title"] = "Détails de fournisseurs";
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}
<div class="callout callout-info">

    <h4>@Model.fournisseur.Nom @Model.fournisseur.prenom</h4>


    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Id de fournisseur :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fournisseur.id)
            </dd>
            <dt class="col-sm-2">
                Nom :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fournisseur.Nom)
            </dd>
            <dt class="col-sm-2">
                Prénom :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fournisseur.prenom)
            </dd>
            <dt class="col-sm-2">
                Adresse :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fournisseur.adresse)
            </dd>
            <dt class="col-sm-2">
                Téléphone :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fournisseur.telephone)
            </dd>
        </dl>
    </div>


</div>

