@model GestionStock.Models.Models.AchatModel;

@{
    ViewData["Title"] = "Nouvelle Achat";
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}

<div class="card card-lightblue">
    <div class="card-header">
        <h3 class="card-title">Nouvelle Achat</h3>

    </div>
    <div class="card-body">
        <div>


            <label>Fournisseur</label>

            <select class="form-control">
                @foreach (GestionStock.Models.Entities.Fournisseur item in Model.fournisseurList)
                {
                    <option value="@item.id">@item.Nom @item.prenom</option>
                }
            </select>
            <hr />
            <label>Document</label>

            <input class="form-control " type="text" placeholder="Numéro de document" />
            
        </div>

        <hr />
        <label class="float-left">Produit</label>
        <button class="btn btn-info float-right" onclick="ajouterProduit()">Ajouter</button>
        <br />
        <br />
        <select class="form-control" id="produitId">
            @foreach (GestionStock.Models.Entities.Produit item in Model.ProduitList)
            {
                <option value="@item.id">@item.nom</option>
            }
        </select>
        <hr />
        <div>
            <table id="container" class="table table-hover text-nowrap>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="float-right">

            <h5>Total 0.00 DH</h5>

        </div>

    </div>
    <div class="card-footer">
        <button class="btn btn-primary float-right" onclick="">Valider</button>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">

        function ajouterProduit() {
            var produitId = $("#produitId").val();
            alert(produitId);
            $.ajax({
                type: "GET",
                url: "/Achat/AchatProduit",
                data: { idProduit: produitId },
                success: function (data) {
                    $("#container").append(data);

                },
                error: function () {
                    alert("something wrong happened");
                }
            });
        }
        

    </script>
}


