@model GestionStock.Models.Models.AchatModel;

@{
    ViewData["Title"] = "Nouvelle Achat";
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}

<div class="card card-lightblue">
    <div class="card-header">
        <h3 class="card-title">Nouvelle Achat</h3>

    </div>
    <div class="card-body">
        <div class="col-md-6 float-left">


            <label>Fournisseur</label>

            <select class="form-control">
                @foreach (GestionStock.Models.Entities.Fournisseur item in Model.fournisseurList)
                {
                    <option value="@item.id">@item.Nom @item.prenom</option>
                }
            </select>
            <br />

        </div>

        <div class="col-md-6 float-left">
            <label>Document</label>

            <input class="form-control " type="text" placeholder="Numéro de document" />
            <br />
            
        </div>
        <label>Produit</label>
        <br />
        <div class="form-check-inline " style="width:100%">

            


            
            <select class="form-control float-lg-left" id="produitId">
                @foreach (GestionStock.Models.Entities.Produit item in Model.ProduitList)
                {
                    <option value="@item.id">@item.nom</option>
                }
            </select>

            <button class="btn btn-info align-self-lg-center" onclick="ajouterProduit()">Ajouter</button>
        </div>
        <div>
            <hr />
            <div class="table-responsive p-0">
                <table id="container" class="table table-hover text-nowrap">
                    <tbody>
                        <tr>
                            <th>
                                Nom du produit
                            </th>
                            <th class="align-self-center">
                                Quantité
                            </th>
                            <th class="align-self-center">
                                Prix unitaire
                            </th>

                            <th>
                                Total
                            </th>
                            <th>

                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <div class="float-right">

                <h5>Total <span id="totalFacture">0.00</span>DH</h5>

            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary float-right" onclick="">Valider</button>
        </div>
    </div>


@section Scripts
{
    <script type="text/javascript">

        function ajouterProduit() {
            var produitId = $("#produitId").val();
            
            alert(produitId);
            $.ajax({
                type: "GET",
                url: "/Achat/AchatProduit",
                data: { idProduit: produitId },
                success: function (data) {
                    $("#container").append(data);

                },
                error: function () {
                    alert("something wrong happened");
                }
            });
        }

        function deleteRow(caller) {
            var parent = caller.parentNode;
            parent.parentNode.remove();
            setTotal();

        }


        function calcule(idProduit) {


            var totalId = "total";
            totalId = totalId.concat(idProduit);
            var prixId = "prix";
            prixId = prixId.concat(idProduit);
            var quantiteId = "qte";
            quantiteId = quantiteId.concat(idProduit);
           
            var quantite = $('#' + quantiteId).val();
            var prix = $('#' + prixId).html();
            var total = quantite * prix
            total = parseFloat(total);
            $('#' + totalId).html(total);
            setTotal();
            

           
        }

        function setTotal() {
            var totalList = document.getElementsByClassName("total");
            var totalFacture = parseFloat(0);
            for (var i = 0; i < totalList.length; i++) {
                var total = parseFloat(totalList.item(i).innerHTML);
                console.log(totalList.item(i).innerHTML);
                totalFacture = total + totalFacture;
                
            }
            console.log(totalFacture);
            $('#totalFacture').html(totalFacture);
           
            
        }

    </script>
}


