@model IEnumerable<GestionStock.Models.Entities.Document>
@{
    ViewData["Title"] = "List des factures";
    ViewData["fonction"] = ViewBag.utilisateur.fonction;
    String fullName = ViewBag.utilisateur.nom.ToString() + " " + ViewBag.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}
<div class="card card-primary">
    <div class="card-header">
        <div class="col-md-6 float-left">
            <h3 class="card-title">List des fournisseurs</h3>
        </div>
        <div class="col-md-6 float-right">
            <div class="input-group input-group-sm">
                <input type="text" name="table_search" id="searchBar" class="form-control float-right" placeholder="search" onkeyup="Search()" />
            </div>
        </div>

    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" id="table">

            <thead>
                <tr>


                    <th>
                        Numéro de document
                    </th>
                    <th>
                        Nom de fournisseur
                    </th>
                    <th>
                        Total de .....
                    </th>
                    <th>
                        Date de......
                    </th>
                    <th> <a class="btn btn-default bg-maroon toastsDefaultMaroon float-lg-right" asp-controller="Achat" asp-action="Achat">Nouvel achat</a></th>
                </tr>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nomFournisseur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total) DH
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td class="float-right">
                            <a class="btn btn-success toastsDefaultSuccess" asp-controller="Achat" asp-action="Details" asp-route-id=@item.id>Details</a>
                            <button class="btn btn-danger swalDefaultError" onclick="Delete(@item.id)">Supprimer</button>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">



        function Search() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function Delete(id) {

            var result = confirm("Êtes-vous sûr de vouloir supprimer ce projet?");
            if (result == true) {
                $.ajax({
                    type: "POST",
                    url: "/Achat/SupprimerDocument",
                    data: { 'idDocument': id },
                    cache: false,


                    success: function (result) {
                          location.reload();
                       

                    },
                    error: function (xhr) {
                        location.reload();
                       

                    },
                    failure: function (response) {
                        alert("something unexpected happend");
                    },
                });
            } else
                retuen;
        }

    </script>
}


