@model GestionStock.Models.Models.FactureModel;
@{
    ViewData["Title"] = "Détails de vente";
    ViewData["UserId"] = Model.utilisateur.id;
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}
<section class="content">
    <div class="container-fluid">
        <div class="card card-default color-palette-box">
            <div class="card-body ">

                <br />
                <br />
                <div class="container-fluid" style=" display: inline-block;">
                    <div class="row ">
                        <div class="col-md-4">
                            <p><b>Numero  document :</b>   @Model.document.numero</p>
                        </div>
                        <div class="col-md-4">
                            <p><b>Client :</b>   @Model.document.nomFournisseur</p>
                        </div>
                        <br />
                        <div class="col-md-4">
                            <p><b>Date d'achat :</b>   @Model.document.date</p>
                        </div>

                    </div>
                    <br />
                    <br />
                </div>

                <hr />
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>

                                <th>
                                    Nom produit :
                                </th>
                                <th>
                                    Quantité :
                                </th>
                                <th>
                                    Prix vente :
                                </th>
                                <th>
                                    Total :
                                </th>
                            </tr>
                        </thead>

                        <tbody>



                            @foreach (GestionStock.Models.Entities.Achat achat in Model.achatList)
                            {
                                <tr>
                                    <td>
                                        @achat.nomProduit
                                    </td>
                                    <td>
                                        @achat.qte
                                    </td>
                                    <td>
                                        @achat.prixAchat DH
                                    </td>
                                    <td>
                                        @achat.total DH
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="text-center">
                    <h4>Total : @Model.document.total DH</h4>
                </div>
            </div>
        </div>
    </div>

</section>