@model GestionStock.Models.Entities.Utilisateur

@{
    ViewData["Title"] = "List des utilisateurs";
    ViewData["fonction"] = ViewBag.utilisateur.fonction;
    String fullName = ViewBag.utilisateur.nom.ToString() + " " + ViewBag.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;

}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Nouvel utilisateur</h3>


    </div>
    <div class="card-body ">
        <div id="ErrorContainer" hidden="hidden">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" onclick="hideErrorMessage()" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                Prière de remplir tous les champs
            </div>
        </div>
        <div id="loginError" hidden="hidden">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" onclick="hideErrorMessage()" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                Ce nom d'utilisateur est déja utilisé
            </div>
        </div>
        <div class="col-md-4">
            <form asp-action="Create" id="mainForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Nom:</label>
                    <input asp-for="nom" class="form-control" />
                    <span asp-validation-for="nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Prénom:</label>
                    <input asp-for="prenom" class="form-control" />
                    <span asp-validation-for="prenom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nom d'utilisateur:</label>
                    <input asp-for="login" class="form-control" />
                    <span asp-validation-for="login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password:</label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Adresse:</label>
                    <input asp-for="adresse" class="form-control" />
                    <span asp-validation-for="adresse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Téléphone:</label>
                    <input asp-for="telephone" type="text" class="form-control" />
                    <span asp-validation-for="telephone" class="text-danger"></span>
                </div>
                <label class="control-label">Fonction d'utilisateur:</label>
                <br />
                @Html.RadioButtonFor(model => model.fonction, "operateur", false)   @Html.Label("Operateur")
                <br />
                @Html.RadioButtonFor(model => model.fonction, "magasinier", true)   @Html.Label("Magasinier")
                <br />
                @Html.RadioButtonFor(model => model.fonction, "administrateur", false)   @Html.Label("Administrateur")
                <br />


                <div class="form-group">
                    <input type="button" onclick="SubmitForm()" value="Valider" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">

        var MyRes = false;

        function SubmitForm() {
            hideErrorMessage();

            if (inputCheck()) {
                var login = $("#login").val();

                return $.ajax({
                    type: "POST",

                    url: "/Utilisateur/loginCheck",
                    data: { 'login': login },
                    cache: false,


                    success: function (result) {
                        if (result == "true") {

                           
                            document.getElementById("loginError").hidden = false;

                        }
                        if (result == "false") {
                            
                            $("#mainForm").submit();
                           
                        }
                    }

                });

            }




        }

        function inputCheck() {
            document.getElementById("ErrorContainer").hidden = true;
            var nom = $("#nom").val();
            var prenom = $("#prenom").val();
            var login = $("#login").val();
            var password = $("#password").val();
            var adresse = $("#adresse").val();
            var telephone = $("#telephone").val();

            if (nom.length == 0 || prenom.length == 0 || login.length == 0 || password.length == 0 || adresse.length == 0 || telephone.length == 0) {

                document.getElementById("ErrorContainer").hidden = false;
                $('body').scrollTop(0);
                return false;
            }
            return true;
        }



        function hideErrorMessage() {
            document.getElementById("loginError").hidden = true;
            document.getElementById("ErrorContainer").hidden = true;
        }
        


    </script>
}
