@model GestionStock.Models.Models.UtilisateurModel;

@{
    ViewData["Title"] = "Détails d'utilisateur";
    ViewData["fonction"] = Model.Chef.fonction;
    String fullName = Model.Chef.nom.ToString() + " " + Model.Chef.prenom.ToString();
    ViewData["nom"] = fullName;

}

<div class="callout callout-info">

    <h4>@Model.utilisateur.nom @Model.utilisateur.prenom</h4>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Id d'utilisateur :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.id)
            </dd>
            <dt class="col-sm-2">
                Nom :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.nom)
            </dd>
            <dt class="col-sm-2">
                Prénom :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.prenom)
            </dd>
            <dt class="col-sm-2">
                Nom d'utilisateur :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.login)
            </dd>
            <dt class="col-sm-2">
                Mot de passe :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.password)
            </dd>
            <dt class="col-sm-2">
                Adresse :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.adresse)
            </dd>
            <dt class="col-sm-2">
                Téléphone :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.telephone)
            </dd>
            <dt class="col-sm-2">
                Date de création :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.date)
            </dd>
            <dt class="col-sm-2">
                Fonction d'utilisateur :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.utilisateur.fonction)
            </dd>
        </dl>
    </div>
</div>

