@model GestionStock.Models.Models.ESModel;

@{
    ViewData["Title"] = "Entrée Atelier";
    ViewData["UserId"] = Model.utilisateur.id;
    ViewData["fonction"] = Model.utilisateur.fonction;
    String fullName = Model.utilisateur.nom.ToString() + " " + Model.utilisateur.prenom.ToString();
    ViewData["nom"] = fullName;
    String imagePath = "";

}

<div class="card card-solid">
    <div class="card-header">
        <div class="col-md-6 float-left">
            <h3 class="card-title">Liste des Produits :</h3>
        </div>
        <div class="col-md-6 float-right">
            <div class="input-group input-group-sm">
                <input type="text" name="table_search" id="searchBar" class="form-control float-right" placeholder="Rechercher" onkeyup="Search()" />
            </div>
        </div>

    </div>
    <div class="card-body pb-0" id="table">
        <h3>Produits en unité</h3>
        <br />
        <div class="row d-flex align-items-stretch">



            @for (int i = 0; i < Model.ProduitList.Count; i++)
            {

                if (Model.ProduitList[i].groupProduit != "Null")
                    continue;

                imagePath = "/images/Produits/" + Model.ProduitList[i].id + ".jpeg";
                <div class="searchHelper col-md-4">
                    <div class="card bg-light ">
                        <div class="card-header text-muted border-bottom-0 ">
                            @Model.ProduitList[i].categorie
                        </div>
                        <div class="card-body pt-0">
                            <div class="row-cols-1 ">
                                <br />
                                <div class=" text-center ">
                                    <img src="@imagePath" style="height:128px;width:128px; border: 1px solid #D3D3D3;object-fit:contain;" class=" img-fluid img-thumbnail img-responsive" onerror="this.src='/images/error.png' ">
                                </div>
                                <br />
                                <div class="col-12">
                                    <h2 class="lead nomProduit"><b>@Model.ProduitList[i].nom</b></h2>
                                    <p class="text-muted text-sm"><b>Quantité en stock: </b><span class="text-muted text-sm">@Model.stockList[i].qteEstimee  </span> </p>
                                    

                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <form>
                                    <span hidden>@Model.ProduitList[i].id</span>
                                    <input style="float:left ;width:50%" type="number" disabled step="1" min="0" value="0" max="@Model.stockList[i].qteEstimee" name="qteEntree" class="form-control" />&nbsp;
                                    <button type="button" class="btn btn-md btn-primary " onclick="Initialisation(this)" style="float:right">Ajouter</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            }


        </div>
        <h3>Produits mesurables</h3>
        <br />
        <div class="row d-flex align-items-stretch">


            @foreach (String group in Model.groups)
            {
               
                if (group == "Null")
                    continue;




                <div class="searchHelper2 col-md-4">
                    <div class="card bg-light ">
                        <div class="card-header  border-bottom-0 ">
                            <h2 class="lead nomProduit"><b>Nom produit: @group</b></h2>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row-cols-1 ">
                                <br />
                                <div class="text-center ">
                                    <img src="@imagePath" style="height:128px;width:128px; border: 1px solid #D3D3D3;object-fit:contain;" class=" img-fluid img-thumbnail img-responsive" onerror="this.src='/images/error.png' ">
                                </div>
                                <br />
                                <div class="col-12">
                                    <p class="text-muted text-sm"><b>Quantité en stock: </b> </p>
                                    <p class="text-muted text-sm" id="@group">0</p>

                                </div>
                      

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <form>

                                    <input style="float:left ;" type="number" disabled step="1" min="0" value="0" max="0" name="qteEntree" class="form-control" />&nbsp;
                                    
                                    <select name="produit" disabled onchange="updateStock(this,@group)" class="form-control">


                                        @for (int i = 0; i < Model.ProduitList.Count; i++)
                                        {
                                            if (Model.ProduitList[i].groupProduit != group)
                                                continue;
                                            <option value="@Model.ProduitList[i].id">@Model.ProduitList[i].nom</option>

                                        }
                                    </select>
                                    
                                    @for (int i = 0; i < Model.ProduitList.Count; i++)
                                    {
                                        if (Model.ProduitList[i].groupProduit != group)
                                            continue;
                                        <span id="@Model.ProduitList[i].id" hidden>@Model.stockList[i].qteEstimee</span>

                                    }
                                    <br />

                                    <button type="button" class="btn btn-md btn-primary " onclick="Initialisation2(this)" style="float:right">Ajouter</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>




















                

            }

        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">



        function Search() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByClassName("searchHelper");
            tr2 = table.getElementsByClassName("searchHelper2");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByClassName("nomProduit")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue);
                    console.log(txtValue.toUpperCase().indexOf(filter));
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";

                    } else {
                        tr[i].style.display = "none";


                    }
                }
            }
            for (i = 0; i < tr2.length; i++) {
                td = tr2[i].getElementsByClassName("nomProduit")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    console.log(txtValue);
                    console.log(txtValue.toUpperCase().indexOf(filter));
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr2[i].style.display = "";

                    } else {
                        tr2[i].style.display = "none";


                    }
                }
            }
        }
        function valider(caller) {
            var qte = caller.parentElement.getElementsByTagName("input")[0].value;
            var id = caller.parentElement.getElementsByTagName("span")[0].innerHTML;
            console.log(qte);
            console.log(id);
            entreeProduit(qte, id);
        }

        function valider2(caller) {
            var qte = caller.parentElement.getElementsByTagName("input")[0].value;
            console.log(qte);
            var select = caller.parentElement.getElementsByTagName("select")[0];
            var id = select.options[select.selectedIndex].value;
            console.log(id);
            
            
            entreeProduit(qte, id);
        }

        function Initialisation(caller) {

            caller.parentElement.getElementsByTagName("input")[0].disabled = false;
            caller.innerHTML = "Valider";
            caller.setAttribute("onClick", "valider(this)");
        }

        function Initialisation2(caller) {

            caller.parentElement.getElementsByTagName("input")[0].disabled = false;
            caller.parentElement.getElementsByTagName("select")[0].disabled = false;
            var event = new Event('change');
            caller.parentElement.getElementsByTagName("select")[0].dispatchEvent(event);
            caller.innerHTML = "Valider";
            caller.setAttribute("onClick", "valider2(this)");
        }


        function entreeProduit(qte, idProduit) {




            $.ajax({
                type: "POST",
                url: "/Entree/EntreeAtelier",
                data: { 'qte': qte, 'idProduit': idProduit },
                cache: false,


                success: function (result) {
                    location.reload();


                },
                error: function (xhr) {
                    location.reload();


                },
                failure: function (response) {
                    alert("something unexpected happend");
                },
            });


        }

        function updateStock(caller, group) {
            var id = caller.options[caller.selectedIndex].value;
            console.log(id);
            var qte = document.getElementById(id).innerHTML;
            console.log(qte);
            console.log(group);
            group.innerHTML = qte;
            caller.parentElement.getElementsByTagName("input")[0].max = qte;
            caller.parentElement.getElementsByTagName("input")[0].value = 0;
            var parent = group.parentElement.parentElement;
            var div = parent.getElementsByTagName("div")[0];
            var image = div.getElementsByTagName("img")[0];
            image.src = "/images/Produits/" + id + ".jpeg";
            

        }


        

        function initialSelect() {
            var select = document.getElementsByTagName('select');
            var event = new Event('change');
            
            for (var i = 0; i < select.length; i++) {
                select[i].dispatchEvent(event);
               
            }
        }
        initialSelect();
    </script>
}
